Repository pmgledhill102/discord-bot-test-suite: changes, and which pre-commit hooks are due for each by the changed paths.
All: cspell, markdownlint, golangci-lint-go-gin, golangci-lint-contract, rubocop, eslint-typescript-fastify, eslint-node-express

Path conditions:
  cspell: any of: \.md$
  markdownlint: any of: \.md$
  golangci-lint-go-gin: any of: ^services/go-gin/.*\.go$
  golangci-lint-contract: any of: ^tests/contract/.*\.go$
  rubocop: any of: ^services/ruby-rails/.*\.rb$
  eslint-typescript-fastify: any of: ^services/typescript-fastify/.*\.(ts|js)$
  eslint-node-express: any of: ^services/node-express/.*\.js$

refactor(ci): Consolidate service workflows with composite actions
  .github/actions/deploy-cloudrun/action.yml
  .github/actions/docker-build/action.yml
  .github/actions/run-contract-tests/action.yml
  .github/workflows/service-cpp-drogon.yml
  .github/workflows/service-csharp-aspnet-native.yml
  .github/workflows/service-csharp-aspnet.yml
  .github/workflows/service-go-gin.yml
  .github/workflows/service-java-micronaut.yml
  .github/workflows/service-java-quarkus-native.yml
  .github/workflows/service-java-quarkus.yml
  .github/workflows/service-java-spring2.yml
  .github/workflows/service-java-spring3.yml
  .github/workflows/service-java-spring4.yml
  .github/workflows/service-kotlin-ktor.yml
  .github/workflows/service-node-express.yml
  .github/workflows/service-php-laravel.yml
  .github/workflows/service-python-django.yml
  .github/workflows/service-python-flask.yml
  .github/workflows/service-ruby-rails.yml
  .github/workflows/service-rust-actix.yml
  .github/workflows/service-scala-play.yml
  .github/workflows/service-typescript-fastify.yml
Due: none

feat(go-gin): Upgrade Pub/Sub from v1 to v2
  .beads/issues.jsonl
  services/go-gin/go.mod
  services/go-gin/go.sum
  services/go-gin/main.go
Due: golangci-lint-go-gin

bd sync: 2026-01-24 16:08:03
  .beads/issues.jsonl
Due: none

refactor(ci): Consolidate service workflows with composite actions (#116)
  .github/actions/deploy-cloudrun/action.yml
  .github/actions/docker-build/action.yml
  .github/actions/run-contract-tests/action.yml
  .github/workflows/service-cpp-drogon.yml
  .github/workflows/service-csharp-aspnet-native.yml
  .github/workflows/service-csharp-aspnet.yml
  .github/workflows/service-go-gin.yml
  .github/workflows/service-java-micronaut.yml
  .github/workflows/service-java-quarkus-native.yml
  .github/workflows/service-java-quarkus.yml
  .github/workflows/service-java-spring2.yml
  .github/workflows/service-java-spring3.yml
  .github/workflows/service-java-spring4.yml
  .github/workflows/service-kotlin-ktor.yml
  .github/workflows/service-node-express.yml
  .github/workflows/service-php-laravel.yml
  .github/workflows/service-python-django.yml
  .github/workflows/service-python-flask.yml
  .github/workflows/service-ruby-rails.yml
  .github/workflows/service-rust-actix.yml
  .github/workflows/service-scala-play.yml
  .github/workflows/service-typescript-fastify.yml
Due: none

feat(go-gin): Upgrade Pub/Sub from v1 to v2 (#117)
  .beads/issues.jsonl
  services/go-gin/go.mod
  services/go-gin/go.sum
  services/go-gin/main.go
Due: golangci-lint-go-gin

feat(pre-commit): Add Rust linting with rustfmt and clippy
  .beads/issues.jsonl
  .pre-commit-config.yaml
  docs/LINTING.md
Due: cspell, markdownlint

bd sync: 2026-01-24 16:52:04
  .beads/issues.jsonl
Due: none

feat(pre-commit): Add PHP linting with Laravel Pint
  .beads/issues.jsonl
  .pre-commit-config.yaml
  docs/LINTING.md
Due: cspell, markdownlint

feat(pre-commit): Add C# linting with dotnet format
  .beads/issues.jsonl
  .github/workflows/service-csharp-aspnet-native.yml
  .github/workflows/service-csharp-aspnet.yml
  .pre-commit-config.yaml
  docs/LINTING.md
Due: cspell, markdownlint

feat(pre-commit): Add Kotlin linting with ktlint
  .beads/issues.jsonl
  .cspell.json
  .github/workflows/service-kotlin-ktor.yml
  .pre-commit-config.yaml
  docs/LINTING.md
  services/kotlin-ktor/build.gradle.kts
  services/kotlin-ktor/gradle/libs.versions.toml
Due: cspell, markdownlint

feat(pre-commit): Add Scala formatting with scalafmt
  .beads/issues.jsonl
  .cspell.json
  .github/workflows/service-scala-play.yml
  .pre-commit-config.yaml
  docs/LINTING.md
  services/scala-play/.scalafmt.conf
  services/scala-play/project/plugins.sbt
Due: cspell, markdownlint

feat(pre-commit): Add Java formatting with Spotless
  .beads/issues.jsonl
  .github/workflows/service-java-micronaut.yml
  .github/workflows/service-java-quarkus-native.yml
  .github/workflows/service-java-quarkus.yml
  .github/workflows/service-java-spring2.yml
  .github/workflows/service-java-spring3.yml
  .github/workflows/service-java-spring4.yml
  .pre-commit-config.yaml
  docs/LINTING.md
  services/java-micronaut/pom.xml
  services/java-quarkus-native/pom.xml
  services/java-quarkus/pom.xml
  services/java-spring2/pom.xml
  services/java-spring3/pom.xml
  services/java-spring4/pom.xml
Due: cspell, markdownlint

bd sync: 2026-01-24 22:28:33
  .beads/issues.jsonl
Due: none

fix(lint): Use dotnet format whitespace to avoid AOT analyzer warnings
  .github/workflows/service-csharp-aspnet-native.yml
  .github/workflows/service-csharp-aspnet.yml
  .pre-commit-config.yaml
  docs/LINTING.md
Due: cspell, markdownlint

docs: Add pre-commit performance analysis
  .beads/issues.jsonl
  docs/PRE_COMMIT_PERFORMANCE.md
Due: cspell, markdownlint

docs: Add pre-commit performance analysis (#119)
  .beads/issues.jsonl
  docs/PRE_COMMIT_PERFORMANCE.md
Due: cspell, markdownlint

feat(deps): Add two-tier Dependabot auto-merge strategy
  .beads/issues.jsonl
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docs/DEPENDABOT.md
Due: cspell, markdownlint

feat(deps): Add two-tier Dependabot auto-merge strategy (#120)
  .beads/issues.jsonl
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  docs/DEPENDABOT.md
Due: cspell, markdownlint

docs: Add missing services to README (java-spring4, csharp-aspnet-native)
  .beads/issues.jsonl
  README.md
Due: cspell, markdownlint

docs: Add missing services to README (java-spring4, csharp-aspnet-native) (#134)
  .beads/issues.jsonl
  README.md
Due: cspell, markdownlint

fix(ci): Remove wait-on-check-action from auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(ci): Remove wait-on-check-action from auto-merge workflow (#135)
  .github/workflows/dependabot-auto-merge.yml
Due: none

style: Fix ktlint formatting in Application.kt
  services/kotlin-ktor/src/main/kotlin/Application.kt
Due: none

chore(kotlin-ktor): Remove .gradle cache from git tracking
  services/kotlin-ktor/.gradle/9.2.0/checksums/checksums.lock
  services/kotlin-ktor/.gradle/9.2.0/checksums/md5-checksums.bin
  services/kotlin-ktor/.gradle/9.2.0/checksums/sha1-checksums.bin
  services/kotlin-ktor/.gradle/9.2.0/fileChanges/last-build.bin
  services/kotlin-ktor/.gradle/9.2.0/fileHashes/fileHashes.bin
  services/kotlin-ktor/.gradle/9.2.0/fileHashes/fileHashes.lock
  services/kotlin-ktor/.gradle/9.2.0/gc.properties
  services/kotlin-ktor/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  services/kotlin-ktor/.gradle/buildOutputCleanup/cache.properties
  services/kotlin-ktor/.gradle/vcs-1/gc.properties
Due: none

docs: Consolidate container optimization documentation
  docs/container-optimization/README.md
  docs/container-optimization/cpp.md
  docs/container-optimization/csharp.md
  docs/container-optimization/go.md
  docs/container-optimization/java-jvm.md
  docs/container-optimization/java-native.md
  docs/container-optimization/node.md
  docs/container-optimization/php.md
  docs/container-optimization/python.md
  docs/container-optimization/ruby.md
  docs/container-optimization/rust.md
Due: cspell, markdownlint

docs: Consolidate container optimization documentation (#138)
  docs/container-optimization/README.md
  docs/container-optimization/cpp.md
  docs/container-optimization/csharp.md
  docs/container-optimization/go.md
  docs/container-optimization/java-jvm.md
  docs/container-optimization/java-native.md
  docs/container-optimization/node.md
  docs/container-optimization/php.md
  docs/container-optimization/python.md
  docs/container-optimization/ruby.md
  docs/container-optimization/rust.md
Due: cspell, markdownlint

docs: Clarify table headings to 'Before/After Optimization'
  docs/container-optimization/README.md
Due: cspell, markdownlint

chore(kotlin-ktor): Remove .gradle cache from git tracking (#137)
  services/kotlin-ktor/.gradle/9.2.0/checksums/checksums.lock
  services/kotlin-ktor/.gradle/9.2.0/checksums/md5-checksums.bin
  services/kotlin-ktor/.gradle/9.2.0/checksums/sha1-checksums.bin
  services/kotlin-ktor/.gradle/9.2.0/fileChanges/last-build.bin
  services/kotlin-ktor/.gradle/9.2.0/fileHashes/fileHashes.bin
  services/kotlin-ktor/.gradle/9.2.0/fileHashes/fileHashes.lock
  services/kotlin-ktor/.gradle/9.2.0/gc.properties
  services/kotlin-ktor/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  services/kotlin-ktor/.gradle/buildOutputCleanup/cache.properties
  services/kotlin-ktor/.gradle/vcs-1/gc.properties
Due: none

fix: Update reqwest feature from rustls-tls to rustls
  .beads/issues.jsonl
  services/rust-actix/Cargo.toml
Due: none

ci: Add auto-rebase workflow for Dependabot PRs
  .github/workflows/dependabot-rebase.yml
Due: none

ci: Add auto-rebase workflow for Dependabot PRs (#139)
  .github/workflows/dependabot-rebase.yml
Due: none

feat(security): Add gitleaks secret scanning
  .github/workflows/lint.yml
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

feat(security): Add gitleaks secret scanning (#140)
  .github/workflows/lint.yml
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

Add Claude Code sandbox infrastructure template
  sandbox-setup-template/.gitignore
  sandbox-setup-template/README.md
  sandbox-setup-template/compose/.env.example
  sandbox-setup-template/compose/docker-compose.yml
  sandbox-setup-template/config/claude-settings.json
  sandbox-setup-template/config/ghostty-config.template
  sandbox-setup-template/config/ssh-config.template
  sandbox-setup-template/docker/Dockerfile
  sandbox-setup-template/docker/Dockerfile.base
  sandbox-setup-template/docker/build-and-push.sh
  sandbox-setup-template/docker/entrypoint.sh
  sandbox-setup-template/docs/COST-OPTIMIZATION.md
  sandbox-setup-template/docs/SECURITY.md
  sandbox-setup-template/docs/TROUBLESHOOTING.md
  sandbox-setup-template/scripts/attach.sh
  sandbox-setup-template/scripts/connect.sh
  sandbox-setup-template/scripts/logs.sh
  sandbox-setup-template/scripts/provision-vm.sh
  sandbox-setup-template/scripts/setup-ghostty.sh
  sandbox-setup-template/scripts/start-agents.sh
  sandbox-setup-template/scripts/stop-agents.sh
  sandbox-setup-template/terraform/iam.tf
  sandbox-setup-template/terraform/main.tf
  sandbox-setup-template/terraform/network.tf
  sandbox-setup-template/terraform/outputs.tf
  sandbox-setup-template/terraform/terraform.tfvars.example
  sandbox-setup-template/terraform/variables.tf
  sandbox-setup-template/terraform/vm.tf
Due: cspell, markdownlint

Revise sandbox architecture: direct shell sessions, not Docker containers
  sandbox-setup-template/.gitignore
  sandbox-setup-template/README.md
  sandbox-setup-template/compose/.env.example
  sandbox-setup-template/compose/docker-compose.yml
  sandbox-setup-template/docker/Dockerfile
  sandbox-setup-template/docker/Dockerfile.base
  sandbox-setup-template/docker/build-and-push.sh
  sandbox-setup-template/docker/entrypoint.sh
  sandbox-setup-template/docs/TOOLING.md
  sandbox-setup-template/scripts/provision-vm.sh
Due: cspell, markdownlint

ci: Replace Dependabot rebase with general PR auto-update workflow
  .github/workflows/dependabot-rebase.yml
  .github/workflows/pr-auto-update.yml
Due: none

Add versions.env config and align tooling with CI requirements
  sandbox-setup-template/config/versions.env
  sandbox-setup-template/docs/TOOLING.md
  sandbox-setup-template/scripts/provision-vm.sh
Due: cspell, markdownlint

ci: Replace Dependabot rebase with general PR auto-update workflow (#141)
  .github/workflows/dependabot-rebase.yml
  .github/workflows/pr-auto-update.yml
Due: none
